body{
  background-color: pink;
  color: white;
  text-align: center;
}
.faixa-header{
  background-color: pink;
  text-align: center;
  padding: 50px;
}
main{
  display: flex;
  justify-content: center;
}
main img{
  border: 10px solid white; 
  border-radius: 10px; 
  hover: pink;
  margin: 20px;
}
main h1{
 color: white;
 display: flex;
 text-align: left;
 font-family: Impact;
 font-size: 50px;
}