body{
  background-color: pink;
  color: white;
  text-align: center;
}
.faixa-header{
  background-color: #E8DADA;
  text-align: center;
  padding: 30px;
}
.sorvete{
  text-align: left;
  border: 10px solid white; 
  border-radius: 10px; 
  hover: pink;
  margen: 20px;
}
.milkshakes{
  text-align: right;
   border: 10px solid white; 
   border-radius: 10px; 
   hover: pink;
   margen: 20px;
}