body{
  background-color: pink;
  color: white;
  text-align: center;
}
.faixa-header{
  background-color: #E8DADA;
  text-align: center;
  padding: 30px;
}
main{
  justify-content: center;
}
main img{
  text-align: center;
  border: 10px solid white; 
  border-radius: 10px; 
  hover: pink;
  margin: 20px;
}